<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Points</title>
</head>
<body>
    <h1>Clubs and their Points</h1>

    <table>
        <thead>
            <tr>
                <th>Club Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <br>
        <tbody>
            {% for club in clubs %}
            <tr>
                <td>{{ club.name }}</td>
                <td>{{ club.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>